/* app css stylesheet */
/* Color Glossary
yellow = #ffff8d
orange = #ff9800
gray = #eee
epic-grey = #ebe9e3
icebox = #d1e0ed
unstarted =
started =
finished =
delivered =
accepted =
rejected
*/

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;}

.menu:before {
  content: "[";}

.menu:after {
  content: "]";}

.menu > li {
  display: inline;}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;}


.epic {
  background: #ebe9e3;}

.story {
  background: #d1e0ed;}

/*md-content {
  background-color: #eee;
}*/

md-map {
  background-color: #ffffff;
}

/* Project specific CSS move to seperate stylsheet */
#story {
  background: #d1e0ed;
  padding: 2px 4px 2px 4px;
}

#story-container {
  padding: 2px 0px 2px 0px;
}

#story-container a, a:visited {
  text-decoration:  none;
  color: black;
}
